html {
    background: greenyellow;
}

body {
    margin: 0px;
}

header {
    background: darkolivegreen;
    color: palegreen;
    position: fixed;
    width: 100%;
    top: 0px;
    text-align: center;
}

header ul {
    display: inline;
}

header ul li {
    display: inline;
}

footer {
    text-align: center;
    background: darkolivegreen;
    color: palegreen;
    width: 100%;
    bottom: 0;
}

section {
    text-align: center;
    width: 80%;
    margin: auto;
}

#siteTitle {
    visibility: hidden;
    margin: auto;
}

#icon {
    margin: 20px;
}

.profile__title {
    width: 320px;
    margin: auto;
    font-size: x-large;
    background: darkolivegreen;
    color: palegreen;
    font-weight: bold;
}

.profile__value {
    margin: 10px 0;
}

#twitter-widget-1 {
    max-width: 320px !important;
}
